/* working with style sheets */
:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* apply styling to the <header> */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  /* end <header> styles */

  /* SECTION TITLE STYLES START */
.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--secondary-color);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  /* SECTION TITLE STYLES END */
  
  /* ABOUT STYLES */
  .intro p {
    line-height: 1.7;
    color: black;
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
  }

  .col-2 {
    flex-basis: 50%;
  }

  .col-2 p {
    line-height: 1.5;
    margin-left: -350px;
    margin-right: 50px;
  }

  .col-2 img {
    width: 100%;
    height: 450px;
    object-fit: contain;
    overflow: hidden;
    margin-left: -170px;
  }

  #about h2 {
    text-align: center;
    margin-top: 25px;
  }
  /* end about style section */

  /* style tafseer section */
  #tafseer h2 {
    text-align: center;
    margin-top: 25px;
  }
  
  .col-4 {
    flex-basis: 25%;
    padding: 10px;
    margin-top: -25px;
  }

  .col-4 img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    overflow: hidden;
  }

  /* style shop section */
  #shop h2 {
    text-align: center;
  }
  
  .col-3 {
    flex-basis: 33.3%;
  }

  .col-3 img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    overflow: hidden;
  }

  /* style the bookings section */
  #bookings h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  #bookings {
    max-width: 1200px;
    margin: auto;
  }

  #bookings input {
    width: 70%;
    padding: 10px;
  }

  .btn {
    width: 70px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }

  /* style blog section */

  /* BLOG START */
.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .trainer {
    margin: 20px;
    flex: 1;
    background: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .trainer img {
    width: 100%;
  }
  
  .trainer-bio {
    padding: 25px;
    line-height: 1.3;
  }
  
  .trainer-bio h3 {
    font-size: 28px;
  }
  
  .trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .trainer-bio p {
    font-size: 17px;
  }

  #blog h2 {
    text-align: center;
  }
  /* BLOG END */

  /* contact section */
  .contact {
    background: var(--secondary-color);
  }
  
  .contact h2 {
    color: var(--primary-color);
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-info > * {
    flex: 1;
    margin: 15px;
  }
  
  .contact-info iframe {
    height: 400px;
  }
  
  .contact-info div {
    color: white;
  }
  
  .contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
  }
  
  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
  }
  
  .contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }
  
  .contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
  }
  
  .contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
  }
  
  .contact-info a {
    color: var(--primary-color);
  }

  .contact-info img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    overflow: hidden;
    margin-top: -25px;
    margin-left: -100px;
  }
  /* CONTACT STYLES END */
  
  /* UTILITIES */
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
/* apply styles to header */
    header {
      padding-bottom: 10px;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
      margin-right: 25px;
    }

    .trainer-bio h3, .trainer-bio h4 {
        display: block;
      }

      .contact-info iframe{
        flex: 1 100%;
      }

}

@media screen and (max-width: 500px) {
.col-2 {
    flex-basis: 100%;
    padding: 10px;
}

.col-3 {
    flex-basis: 100%;
    padding: 20px;
}

.col-4 {
    flex-basis: 100%;
    padding: 20px;
}

#bookings {
    padding: 10px;
}

.trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }

  .contact-info img {
    margin-left: 15px;
  }

  #about .col-2 img {
    height: 250px;
  }

  #about .col-2 img {
    margin-left: 10px;
  }

  #about .col-2 p {
    margin-left: 20px;
  }
}